*{
  margin:10px;
  position: relative;
}
#box{
  padding: 20px;
  width: 500px;
  height: 250px;
  background-color: rgb(112, 143, 245);
  position: absolute;
  left: 300px;
  top:100px;
  border-radius: 10px;
  box-shadow:  8px 8px #cccbcb;;
  input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border:none;
    
  }
  h3{
    left:150px;
  

  }
  
}
#loginform{

 
  width: 200px;
  height: 200px;
  background-color: rgb(112, 143, 245);
  position: absolute;
  
}
button{
  width: 100px;
  height: 30px;
  background-color: rgb(91, 49, 241);
  color:white;
  border: none;
  border-radius: 10px;
  margin-top:30px;
  cursor: pointer;
  transition: 0.8s ease ;
}
button:hover{
  background-color: aqua;
  color:black;
}

#profile{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(151, 172, 240);}